@import url("../index.scss");

.calculation-container {
    padding: 24px;
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 5px 7px 2px #adadad;

    .calculation-wrapper {
        max-width: 1000px;
    }

    .page-title {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
    }

    .fee-rates {
        margin-bottom: 24px;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .fee-rate-card {
        display: flex;
        border-radius: 4px;
        align-items: center;
        padding: 0
    }

    .fee-rate-card-title {
        font-size: 16px;
        font-weight: 400;
        width: 50%;
        margin: 0;
    }

    .fee-rate-card-value {
        font-size: 16px;
        font-weight: 400;
        background: #EEEEEE;
        padding: 13px;
        width: 80%;
        border-radius: 10px;
    }

    .floor-table {
        margin-bottom: 30px;
        max-width: 1000px;
    }

    .table-wrapper {
        border: 1px solid #D6D5D4;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;
    }

    table {
        width: 100%;
        max-width: 1000px;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
    }

    th,
    td {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 12px 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .button-row td {
        border-bottom: none;
        padding: 15px;
    }

    th {
        background-color: #f2f2f2;
        color: #006769;
        text-wrap: wrap;
        font-weight: 600;
        height: 60px;
    }

    .niveau-col {
        width: 15%;
        text-align: left;
    }

    .area-col {
        width: 25%;
        text-align: left;
    }

    .total-col {
        width: 22%;
        text-align: center;
    }

    .cost-col {
        width: 13%;
        text-align: center;
    }

    input {
        border: 1px solid #D4D4D4;
        ;
        padding: 10px;
        border-radius: 8px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
    }

    input:active,
    input:focus,
    input:focus-visible {
        border: 1px solid #006769 !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0;
    }

    .action-button {
        margin-top: 15px;
        padding: 12px;
        background-color: #006769;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .add-floor-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #006769;
        border-radius: 15px;
        margin-left: auto;

        padding: 8px 40px;
        cursor: pointer;
    }

    .add-floor-button-title {
        font-size: 16px;
        font-weight: 400;
        color: #006769;
        margin: 0;
    }

    .add-floor-button-icon {
        font-size: 16px;
        font-weight: 400;
        color: #006769;
        border: 2px solid #006769;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculations-section {
        margin-bottom: 30px;
    }

    .plot-info,
    .fees-summary {
        border-radius: 4px;
        padding-left: 0
    }

    .plot-info-title {
        margin: 0;
        margin-bottom: 24px;
    }

    .info-content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .total-value {
        font-weight: bold;
    }

    .total-row {
        font-weight: bold;
        background-color: #f2f2f2;
    }

    .cost-breakdown {
        margin-top: 20px;
    }

    .input-with-unit {
        position: relative;
        display: inline-block;
        width: 60%;
    }

    .input-with-unit input {
        width: 100%;
        font-size: 16px;
        text-align: center;
        color: "#363636";
        padding-right: 40px;
        box-sizing: border-box;
    }

    .text-input,
    .cost-input {
        border: 1px solid black;
        padding: 10px;
        border-radius: 12px;
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .cost-input {
        width: 80%;
    }

    .unit {
        position: absolute;
        right: 10px;
        font-size: 16px;
        font-weight: 500;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: #B1B4B6;
    }

    .cost-table-wrapper {
        margin-bottom: 15px;
    }

    .work-col {
        width: 40%;
        text-align: left;
    }

    .percentage-col {
        width: 20%;
        text-align: center;
    }

    .amount-col {
        width: 40%;
        text-align: center;
    }

    .disabled {
        color: "#848484"
    }

    .disabled-btn {
        background-color: #d4d4d4;
        pointer-events: none;
    }

    .disable-floor-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    .editable {
        background-color: #fff !important;
        color: #000 !important;
        pointer-events: all;
        text-align: left;
    }

    .star {
        color: #B91900;
        margin-left: 4px;
    }

    .no-padding {
        padding: 0;
    }

    .reason-input-wrapper {
        input {
            padding: 13px !important;
            text-align: left;
            color: #000;
        }
    }
.edit-tax-input-wrapper {
    display: flex;
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

}

.digit-error-message {
    margin: 0 !important;
    font-weight: 400;
}

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
}